@import "tailwindcss";

@theme {
  --color-bgPri:#F2F2F2 ;
  --color-bgTet:#1E1E1E;
  --color-mainTxt: #1E1E1E;
  --color-grayTxt: #4D4D4D;
  --color-lightTxt: #dadada;
  --color-mutedTxt: #808080;
  --color-button1: #455f6b;
  --color-button2: #61C0E8;
  --color-border: #D9D9D9;
  --font-montserrat: 'Inter', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter.ttf');
  color: #455f6b;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
